body {
  height: 100dvh;
  font-family: "Roboto Mono", monospace;
}

header {
  display: flex;
  width: 100%;
  height: 5.3rem;
  position: fixed;
  background-color: white;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  line-height: 1.6;
}

.page-title {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  color: #4A4A4A;
}

.nav-menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 500px;
  font-family: "Roboto", sans-serif;
}

ul li {
  display: inline;
}

.follow-logo {
  width: 25px;
  vertical-align: middle;
  margin: 10px;
}

.join {
  display: none;
  height: 2.5rem;
  width: 5rem;
  color: white;
  font-weight: bold;
  border-radius: 0.3rem;
  background-color: #9DC20A;
  border: none;
}
main {
  width: 100%;
  padding-top: 5.3rem;
}

.landing-page {
  display: flex;
  width: 100%;
  height: 100dvh;
  background-image: url("../images/banner-landingpage.jpg");
  background-size: cover;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 13rem;
  width: 30rem;
  background-color: #9DC20A;
  border: 1px solid #979797;
  border-radius: 0.3rem;
  margin: 10rem;
  padding: 2rem;
  color: white;
}

.content > h2 {
  font-family: "Damion", cursive;
  font-size: 2.5rem;
  line-height: 1;
}

.content > h1 {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
}

.content > p {
  font-family: "Roboto", sans-serif;
  max-width: 24rem;
}

.content > span {
  font-weight: bold;
}

.content > button { 
  font-weight: bold;
  border: none;
  width: 80%;
  height: 4rem;
  background-color: #4A4A4A;
  color: white; 
  border-radius: 0.3rem;
  margin: 1rem;
}

.specs {
  display: flex;
  justify-content: center;
  background-color: #EAE8E8;
  padding: 3rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.left-box, .right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
  width: 42rem;
  padding: 2rem;
  background-color: white;
}

.left-box > img,
.right-box > img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 7%;
}

.spec-text {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 1.4;
}

.spec-text > h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #4A4A4A;
}

.spec-text > p {
  font-weight: 300;
  font-size: 1rem;
  color: #4A4A4A;
}

.filter-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: auto;
  background-color: #4A4A4A;
  padding: 4rem 0 0 0;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: white;
}

.filter-gallery > h2 {
  font-weight: bold;
  font-size: 2rem;
}

.filter-gallery > p {
  font-weight: 200;
  font-size: 1rem;
}

.filter-examples { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 4rem;

}

.filter-examples > img {
  max-width: 23rem;
  height: auto;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30dvh;
  font-family: "Parisienne", cursive;
  background-color: #EAEAEA;
  color: rgb(0, 0, 0);
}

.quote > h2 {
  font-size: 2rem;
  margin: 3rem;
}

.quote > img { 
  height: 2rem;
  vertical-align: middle;
}

footer {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: #AEAEAE;
  color: white;
  height: 3rem;
  width: 100%;
}

footer > p {
  padding: 0 2rem;
}

@media only screen and (max-width: 1000px) {
  .join {
    display: inline;
  }

  .nav-bar {
    font-size: 1.3rem;
  }

  .landing-page {
    height: 50dvh;
  }

  .content {
    background-color: transparent;
    border: none;
    width: 100%;
  }

  .content > p,
  .content > button {
    display: none;
  }

  .content > h2 {
    font-size: 4rem;
  }

  .content > h1 {
    font-size: 4rem;
  }

  .specs {
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    gap: 0;
  }

  .left-box > img,
  .right-box > img {
    margin-bottom: 5%;
  }

  .left-box,
  .right-box {
    height: 50rem;
    width: 93.5%;
  }

  .left-box {
    background-color: #AEAEAE;
  }

  .spec-text > h2 {
    font-size: 3rem;
  }

  .spec-text > p {
    font-size: 1.5rem;
  }

  .filter-examples {
    margin-bottom: 0;
  }
  
  .filter-examples > img {
    max-width: 15rem;
  }

  .filter-gallery > h2 {
    font-size: 3rem;
  }

  .filter-gallery > p {
    font-size: 1.5rem;
  }

  .quote {
    height: 15rem;
  }

  .quote > h2 {
    font-size: 2rem;
    margin: 2rem;
    width: 90%;
  }

  .quote > img {
    padding-right: 2rem;
  }

  footer {
    height: 5rem;
  }

  footer > p {
    font-size: 1.2rem;
  }
}